* {
    font-family: hiragino-kaku-gothic-pron, sans-serif;
    font-weight: 300;
    font-style: normal;
}

html {
    visibility: hidden;
    width: 100svw;
    min-height: 100svh;
    overflow-x: hidden;
    overflow-y: scroll;
}

html.wf-active {
    visibility: visible;
}